$themeMain: #f88888;
$themeMainDarker: #da6464;
$themeLighterMain: #f7b9b9;
$themeMainContrast: #4c508f;
$themWhite: #f0f0f0;
$convex: 12px 12px 24px #cfcfcf, -12px -12px 24px #f5f5f5;
$concave: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.2),
  inset -3px -3px 5px 0 rgba(255, 255, 255, 0.34);
$convex2: 3px 4px 6px rgba(0, 0, 0, 0.24),
  -2px -2px 6px rgba(255, 255, 255, 0.35);
$shifted: 3px 4px 6px rgba(0, 0, 0, 0.24), -2px -2px 6px rgba(0, 0, 0, 0.24);

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background: radial-gradient(at left top, #4c508f, #f88888);
}

body {
  background-size: cover;
  background-position: center;
  font-family: poppins !important;
}

.soft-btn {
  box-shadow: $convex;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  background: transparent;
}

.soft-btn:active {
  outline: none !important;
  opacity: 0.8;
}

.soft-btn:focus {
  outline: none !important;
}
.bg-light {
  background-color: $themWhite;
}

.concave {
  box-shadow: $concave;
}

.convex-wide {
  box-shadow: $convex;
}

.convex-2 {
  box-shadow: $convex2;
}

.round-input {
  @extend .rounded-40;
  box-shadow: $concave;
  padding: 1rem !important;
  //   color: $darkColor;
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
}

.square-input {
  @extend .rounded-8;
  box-shadow: $concave;
  padding: 1rem !important;
  //   color: $darkColor;
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
}
.soft-box {
  box-shadow: $convex2;
  padding: 1rem !important;
  border-radius: 40px;
}

.shift {
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.38);
}

.shn {
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 0) 4%,
    rgba(40, 31, 187, 0) 28%,
    rgba(255, 255, 255, 1) 48%,
    rgba(8, 32, 136, 0) 71%,
    rgba(0, 212, 255, 0) 100%
  );
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: 200% 200%;
  transition: background-position 1s;
}

.shn:hover {
  transition: background-position 1s;
  animation: shine 1s linear;
}

@keyframes shine {
  0% {
    background-position: 200% 200%;
  }

  100% {
    background-position: -200% -200%;
  }
}

.disable-select {
  user-select: none;
}

.borderless {
  border: none;
  outline: none;
}

$widths: 100;
@mixin w-list {
  @for $i from 0 through $widths {
    .w-#{$i} {
      width: #{$i}% !important;
    }
  }
}

@include w-list;

.pointer {
  cursor: pointer;
}

$heights: 100;
@mixin h-list {
  @for $i from 0 through $heights {
    .h-#{$i} {
      height: #{$i}% !important;
    }
  }
}

@include h-list;

.pointer {
  cursor: pointer;
}

.img-uploader {
  position: absolute;
  bottom: 0;
  background: radial-gradient(at left top, $themeMainContrast, $themeMain);
  height: 25%;
  transition: height 0.4s ease-in-out;
}

.img-uploader:hover {
  height: 45%;
  transition: height 0.3s ease-in-out;
}

.font-light {
  color: $themeMain;
}

.brdr-light {
  border: 1px solid $themeMain;
  outline: $themeMain;
}

.reject {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.bg-theme-simple {
  background: $themeMain;
}

.bg-theme {
  background: radial-gradient(at left top, $themeMainContrast, $themeMain);
  background-size: cover;
}

.image-bg-theme {
  background: radial-gradient(circle at left, $themeMain, $themeLighterMain);
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-25 {
  border-radius: 25px;
}

.white-font {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-btn {
  @extend .cursor-pointer, .white-font, .flex-center, .convex;
  border-radius: 0.25rem;
}

.outline-btn-rounded {
  @extend .cursor-pointer, .rounded-40, .flex-center, .convex;
  border: 2px solid $themeMain;
}

.outline-btn-square {
  @extend .cursor-pointer, .flex-center, .convex;
  border: 2px solid $themeMain !important;
  border-radius: 5px;
}
.convex {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11), -2px -2px 6px rgba(0, 0, 0, 0.11);
}

.square {
  content: "";
  display: block;
  padding-top: 100%;
}

.fr-box {
  display: flex;
  height: 100%;
  flex-direction: column;

  .fr-wrapper {
    flex: 1;

    .fr-element {
      min-height: 100%;
    }
  }
}

.sort-item:hover {
  border-color: $themeMain !important;
}

.sort-item {
  border: 2px solid transparent !important;
}

.editorFocused {
  border-radius: 9px;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  transition: all 0.3s;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.editorBlured {
  transition: all 0.3s;
}

.fr-view {
  width: 100%;
}

.ck-editor__editable_inline {
  height: 259px;
}

.ck.ck-button .ck.ck-tooltip {
  display: none;
}

.theme-font {
  color: #ff8c8c;
}

.emojis-icon-custom {
  background-image: url("https://i.ibb.co/qkvPPXW/smile.png") !important;
  background-size: 100% !important;
  background-position: center !important;
  width: 25px !important;
  height: 25px !important;
}

.bg-white {
  background: white;
}

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px,
) !default;

// In `_mixins.scss`
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

.corners-theme {
  border-radius: 0;
  @include respond-to("medium") {
    border-radius: 8px;
  }
}

.btn-primary {
  background-color: $themeMain !important;
  border-color: $themeMain !important;
}

.btn-primary:hover {
  background-color: $themeMainDarker !important;
  border-color: $themeMainDarker !important;
}

.click-effect-like {
  animation: click-effect-like 0.6s forwards;
}

.click-effect-dislike {
  animation: click-effect-dislike 0.6s forwards;
}

@keyframes click-effect-like {
  0% {
    background: #4c508f;
  }

  100% {
    background: white;
  }
}

@keyframes click-effect-dislike {
  0% {
    background: #f88888;
  }

  100% {
    background: white;
  }
}

.btn-outline-primary {
  color: darkslategrey !important;
  border-color: $themeMain !important;
  border-width: 2px !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: $themeMain !important;
  border-color: $themeMain !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $themeMain !important;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgb(255, 182, 182) !important;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 32px;
  height: 4px;
  background: $themeMain;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 4px;
  background: $themeMain;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu-item-custom {
  cursor: pointer;
}

.menu-item-custom::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 0;
  height: 3px;
  background: $themeMain;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: width 0.3s;
}

.menu-item-custom:hover::after {
  width: 100%;
  //transition: width .3s;
}

.menu-item-border-bottom {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  cursor: pointer;
}

.menu-item-border-bottom-active {
  border-bottom: 4px solid $themeMain !important;
}

.btn-link {
  color: $themeMain !important;
  @extend .cursor-pointer;
}

.input-group .form-control {
  margin: 0px !important;
}

.icon-btn {
  cursor: pointer;
}

.icon-btn:hover {
  background: rgb(241, 241, 241);
}

.book-title {
  line-height: 1.5 !important;
}

.h5,
.h4,
.h3,
.h2,
.h1 {
  font-weight: inherit !important;
}
