@import "../../node_modules/bootstrap/scss/bootstrap.scss";
$grid-breakpoints: (
  xs: 0,
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

$container-max-widths: (
  sm: 567px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1900px,
);

$themeMain: $primary;
$themeMainDarker: #1418e9;
$themeLighterMain: #85c4ff;
$themeMainContrast: #4c508f;
$themWhite: #f0f0f0;
$color-theme-700: #737373;
$color-600: #8e8e8e;
$color-500: #b1afaf;
$border-primary: #dadada;
$page-paper-main: #fff;
$color-secondary: #0a80ff;
$color-theme-800: #575757;
$color-theme-900: #373737;
$convex: 12px 12px 24px #cfcfcf, -12px -12px 24px #f5f5f5;
$concave: inset 2px 2px 6px 0 rgba(0, 0, 0, 0.2),
  inset -3px -3px 5px 0 rgba(255, 255, 255, 0.34);
$convex2: 3px 4px 6px rgba(0, 0, 0, 0.24),
  -2px -2px 6px rgba(255, 255, 255, 0.35);
$shifted: 3px 4px 6px rgba(0, 0, 0, 0.24), -2px -2px 6px rgba(0, 0, 0, 0.24);

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  background: radial-gradient(at left top, #4c508f, #f88888);
}

body {
  background-size: cover;
  background-position: center;
  font-family: Montserrat, Helvetica, Arial, sans-serif !important;
  font-weight: 500;
}

.soft-btn {
  box-shadow: $convex;
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  width: 100%;
  background: transparent;
}

.soft-btn:active {
  outline: none !important;
  opacity: 0.8;
}

.soft-btn:focus {
  outline: none !important;
}
.bg-light {
  background-color: $themWhite;
}

.concave {
  box-shadow: $concave;
}

.convex-wide {
  box-shadow: $convex;
}

.convex-2 {
  box-shadow: $convex2;
}

.round-input {
  @extend .rounded-40;
  box-shadow: $concave;
  padding: 1rem !important;
  //   color: $darkColor;
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
}

.square-input {
  @extend .rounded-8;
  box-shadow: $concave;
  padding: 1rem !important;
  //   color: $darkColor;
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
}
.soft-box {
  box-shadow: $convex2;
  padding: 1rem !important;
  border-radius: 40px;
}

.shift {
  box-shadow: 2px 2px 22px rgba(0, 0, 0, 0.38);
}

.shn {
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 0) 4%,
    rgba(40, 31, 187, 0) 28%,
    rgba(255, 255, 255, 1) 48%,
    rgba(8, 32, 136, 0) 71%,
    rgba(0, 212, 255, 0) 100%
  );
  background-size: 200% 200%;
  background-repeat: no-repeat;
  background-position: 200% 200%;
  transition: background-position 1s;
}

.shn:hover {
  transition: background-position 1s;
  animation: shine 1s linear;
}

@keyframes shine {
  0% {
    background-position: 200% 200%;
  }

  100% {
    background-position: -200% -200%;
  }
}

.disable-select {
  user-select: none;
}

.borderless {
  border: none;
  outline: none;
}

$widths: 100;
@mixin w-list {
  @for $i from 0 through $widths {
    .w-#{$i} {
      width: #{$i}% !important;
    }
  }
}

@include w-list;

.pointer {
  cursor: pointer;
}

$heights: 100;
@mixin h-list {
  @for $i from 0 through $heights {
    .h-#{$i} {
      height: #{$i}% !important;
    }
  }
}

@include h-list;

.pointer {
  cursor: pointer;
}

.img-uploader {
  position: absolute;
  bottom: 0;
  background: $color-600;
  height: 25%;
  transition: height 0.4s ease-in-out;
}

.img-uploader:hover {
  height: 45%;
  transition: height 0.3s ease-in-out;
}

.font-light {
  color: $themeMain;
}

.brdr-light {
  border: 1px solid $themeMain;
  outline: $themeMain;
}

.reject {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.bg-theme-simple {
  background: $themeMain;
}

.bg-theme {
  background: radial-gradient(at left top, $themeMainContrast, $themeMain);
  background-size: cover;
}

.image-bg-theme {
  background: #ffa5a5;
}

.rounded-40 {
  border-radius: 40px;
}

.rounded-8 {
  border-radius: 8px;
}

.rounded-25 {
  border-radius: 25px;
}

.white-font {
  color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-btn {
  @extend .cursor-pointer, .white-font, .flex-center, .convex;
  border-radius: 0.25rem;
}

.outline-btn-rounded {
  @extend .cursor-pointer, .rounded-40, .flex-center, .convex;
  border: 2px solid $themeMain;
}

.outline-btn-square {
  @extend .cursor-pointer, .flex-center, .convex;
  border: 2px solid $themeMain !important;
  border-radius: 5px;
}
.convex {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.11), -2px -2px 6px rgba(0, 0, 0, 0.11);
}

.square-30 {
  width: 30px !important;
  height: 30px !important;
}

.square-40 {
  width: 40px !important;
  height: 40px !important;
}

.square-50 {
  width: 50px !important;
  height: 50px !important;
}

.square-60 {
  width: 60px !important;
  height: 60px !important;
}

.square {
  content: "";
  display: block;
  padding-top: 100%;
}

.fr-box {
  display: flex;
  height: 100%;
  flex-direction: column;

  .fr-wrapper {
    flex: 1;

    .fr-element {
      min-height: 100%;
    }
  }
}

.sort-item:hover {
  border-color: $themeMain !important;
}

.sort-item {
  border: 2px solid transparent !important;
}

.editorFocused {
  border-radius: 9px;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  transition: all 0.3s;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.editorBlured {
  transition: all 0.3s;
}

.fr-view {
  width: 100%;
}

.ck-editor__editable_inline {
  height: 259px;
}

.ck.ck-button .ck.ck-tooltip {
  display: none;
}

.theme-font {
  color: #ff8c8c;
}

.emojis-icon-custom {
  background-image: url("https://i.ibb.co/qkvPPXW/smile.png") !important;
  background-size: 100% !important;
  background-position: center !important;
  width: 25px !important;
  height: 25px !important;
}

.bg-white {
  background: white;
}

$breakpoints: (
  "small": 767px,
  "medium": 992px,
  "large": 1200px,
) !default;

// In `_mixins.scss`
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

.corners-theme {
  border-radius: 0;
  @include respond-to("medium") {
    border-radius: 8px;
  }
}

.btn-primary {
  background-color: $themeMain !important;
  border-color: $themeMain !important;
}

.btn-primary:hover {
  background-color: $themeMainDarker !important;
  border-color: $themeMainDarker !important;
}

.click-effect-like {
  animation: click-effect-like 0.6s forwards;
}

.click-effect-dislike {
  animation: click-effect-dislike 0.6s forwards;
}

@keyframes click-effect-like {
  0% {
    background: #4c508f;
  }

  100% {
    background: white;
  }
}

@keyframes click-effect-dislike {
  0% {
    background: #f88888;
  }

  100% {
    background: white;
  }
}

.btn-outline-primary {
  color: darkslategrey !important;
  border-color: $themeMain !important;
  border-width: 2px !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: $themeMain !important;
  border-color: $themeMain !important;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: $themeMain !important;
  outline: 0;
  box-shadow: 0 0 0 0.15rem rgb(255, 182, 182) !important;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 28px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 27px;
  height: 2.5px;
  background: $color-theme-700;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 2px;
  background: $color-theme-700;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-10px);
}
.menu-btn__burger::after {
  transform: translateY(10px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu-item-custom {
  cursor: pointer;
}

.menu-item-custom::after {
  content: "";
  display: block;
  margin-top: 5px;
  width: 0;
  height: 3px;
  background: $themeMain;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: width 0.3s;
}

.menu-item-custom:hover::after {
  width: 100%;
  //transition: width .3s;
}

.menu-item-border-bottom {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  cursor: pointer;
}

.menu-item-border-bottom-active {
  border-bottom: 4px solid $themeMain !important;
}

.btn-link {
  color: $themeMain !important;
  @extend .cursor-pointer;
}

.input-group .form-control {
  margin: 0px !important;
}

.icon-btn {
  cursor: pointer;
}

.icon-btn:hover {
  background: rgb(241, 241, 241);
}

.book-title {
  line-height: 1.5 !important;
}
.thread-title {
  line-height: 1.5 !important;
}

.basic-card {
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  color: #575757;
  transition: all 0.3s;
  overflow: hidden;
}

.basic-card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.flex-center {
  align-items: center;
  justify-content: center;
}
.btn-pro:hover {
  text-decoration: none !important;
  box-shadow: 0 0 0 2px $themeMain;
}

.btn-pro {
  user-select: none;
  line-height: 32px !important;
  height: 32px !important;
  padding: 0 16px !important;
  background-color: $themeMain;
  color: white !important;
  border: 1px solid transparent;
  background: $themeMain;
  border-radius: 16px;
  transition: all 0.3s;
  font-weight: 500 !important;
  font-size: 14px !important;
  cursor: pointer;
  outline: none !important;
  text-decoration: none !important;
  box-shadow: unset;
}

textarea {
  border: 1px solid #dadada;
  border-radius: 10px;
  outline: none;
  color: #737373;
  padding: 4px 10px 6px 8px !important;
  height: 32px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:hover {
  outline: none;
  border-color: $themeMain;
}

textarea:focus {
  border-color: $themeMainDarker !important;
  box-shadow: 0 0 0 3px $themeLighterMain !important;
}

.general-input::placeholder {
  color: $color-500;
  font-weight: 500;
}

.general-input {
  border: 1px solid #dadada;
  border-radius: 10px;
  outline: none;
  color: #737373;
  font-size: 14px !important;
  padding: 4px 10px 6px 8px !important;
  height: 32px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.general-input:hover {
  outline: none;
  border-color: $themeMain;
}

.general-input:focus {
  border-color: $themeMainDarker !important;
  box-shadow: 0 0 0 3px $themeLighterMain !important;
}

label {
  font-size: 13px;
  font-weight: 500 !important;
  line-height: 21px;
  display: block;
  color: $color-500;
  line-height: 13px;
}

.btn {
  line-height: 28px !important;
  color: $color-theme-700 !important;
  font-weight: 500 !important;
  height: 32px !important;
  padding: 0 16px !important;
  border: 2px solid $border-primary !important;
  border-radius: 30px !important;
  font-size: 14px !important;
  transition: all 0.3s;
  user-select: none;
}

.btn:hover {
  border: 2px solid $themeMain !important;
  text-decoration: none !important;
  color: $color-600 !important;
}

.popover-inner {
  font-size: 14px;
  color: $color-theme-700;
}

.popover-title {
  font-weight: 500;
}

.checkbox-pro {
  border: 2px solid $border-primary;
  transition: border 0.3s;
  cursor: pointer;
}

.checkbox-pro:hover {
  border: 2px solid $themeMain;
}

.checkbox-white {
  border: 2px solid white;
  transition: border 0.3s;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.checkbox-white:hover {
  box-shadow: 1px 1px 15px -5px #888888;
}

.text-dark::placeholder {
  color: $color-theme-700 !important;
}

.transparent-textarea::placeholder {
  color: white;
}

.transparent-textarea {
  box-shadow: none !important;
  border: none !important;
  font-size: 18px !important;
  font-weight: 500;
  background: transparent;
  color: white;
  overflow: hidden;
}

.transparent-textarea:focus {
  box-shadow: none !important;
  border: none !important;
}

.transparent-textarea:hover {
  box-shadow: none !important;
  border: none !important;
}

.bg-answer-1 {
  background: #f8afaf !important;
}

// .bg-answer-1:hover {
//   text-decoration: none !important;
//   box-shadow: 0 0 0 2px #f8afaf !important;
// }
// .bg-answer-2:hover {
//   text-decoration: none !important;
//   box-shadow: 0 0 0 2px #8bc34a !important;
// }
// .bg-answer-3:hover {
//   text-decoration: none !important;
//   box-shadow: 0 0 0 2px #77ddff !important;
// }
// .bg-answer-4:hover {
//   text-decoration: none !important;
//   box-shadow: 0 0 0 2px orange !important;
// }

.bg-answer-2 {
  background: #8bc34a !important;
}

.bg-answer-3 {
  background: #77ddff !important;
}
.bg-answer-4 {
  background: orange !important;
}

.user-select-none {
  user-select: none;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  border: 1px solid #dadada;
  border-radius: 10px;
  outline: none;
  color: #737373;
  font-size: 14px !important;
  padding: 4px 10px 6px 8px !important;
  height: 32px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:hover {
  outline: none;
  border-color: $themeMain;
}

input[type="number"]:focus {
  border-color: $themeMainDarker !important;
  box-shadow: 0 0 0 3px $themeLighterMain !important;
}

.bg-image {
  background-size: cover !important;
  background-position: center !important;
}

.quiz-play-btn {
  background-color: $themeMain !important;
  color: white;
  font-size: 24px;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 60px;
}

.quiz-play-btn:hover {
  background-color: $themeMainDarker !important;
}

.label-strong {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  display: block;
  color: $color-600;
  line-height: 13px;
}

.fb-btn-success {
  border-radius: 0.5rem;
  line-height: 44px;
  height: 44px;
  color: white;
  padding: 0 25px !important;
  transition: all 0.3s;
  cursor: pointer;
  background: #28a745;
  user-select: none;
}
.fb-btn-success:hover {
  background: #1e7e34;
}

.fb-btn-primary {
  border-radius: 0.5rem;
  line-height: 44px;
  height: 44px;
  color: white;
  padding: 0 25px !important;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
  background: #007bff;
}

.fb-btn-primary:hover {
  background: #0065d1;
}

.fb-btn-pro {
  border-radius: 0.5rem;
  line-height: 44px;
  height: 44px;
  padding: 0 25px !important;
  transition: all 0.3s;
  cursor: pointer;
  color: $color-theme-800;
  background: #e4e6eb;
  user-select: none;
}

.fb-btn-pro:hover {
  background: #d3d3d3;
}

.fb-btn {
  border-radius: 0.5rem;
  line-height: 44px;
  height: 44px;
  padding: 0 25px !important;
  transition: all 0.3s;
  cursor: pointer;
  color: $color-theme-800;
  user-select: none;
}

.fb-btn:hover {
  background: #e4e6eb;
}

.fb-btn-light {
  background: #f1f2f5;
  border-radius: 0.5rem;
  line-height: 44px;
  height: 44px;
  padding: 0 25px !important;
  transition: all 0.3s;
  cursor: pointer;
  color: $color-theme-800;
  user-select: none;
}

.fb-btn-light:hover {
  background: #ffffff;
}

.main-search-input {
  background: #e4e6eb;
  border-radius: 40px;
  height: 44px;
  line-height: 44px;
  height: 44px;
  border: none !important;
  outline: none !important;
  font-weight: 400;
  padding: 0 20px 0 46px !important;
}

.static-card {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.bg-light {
  background-color: #f0f2f5 !important;
}

.breadcrumb-link {
  color: $color-theme-700;
  border-radius: 0.5rem;
  padding: 0 10px;
}

.breadcrumb-link:hover {
  background: #e4e6eb;
}

.static-card-title {
  margin-bottom: 15px;
  font-weight: 600;
  color: $color-theme-900;
}

.static-card-title-bigger {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 30px;
  color: $color-theme-900;
}

.toast-pro {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.38);
  overflow: hidden;
  position: fixed;
  left: 50px;
  bottom: 50px;
  transition: all 0.5s;
}

.toast-pro-title {
  font-weight: 500;
}

.current-read-description {
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toast-close-icon {
  width: 35px !important;
  height: 35px !important;
  @extend .flex-center, .d-flex;
  border-radius: 50%;
  cursor: pointer;
  background: #e2e3e5;
  transition: all 0.3s;
}

.toast-close-icon:hover {
  background: #cfd0d1;
}

.toast-title {
  font-weight: 600 !important;
}

.login-referals:hover {
  text-decoration: underline;
}

.notification-item {
  transition: all 0.1s;
  cursor: pointer;
  border-radius: 0.5rem;
}

.notification-item:hover {
  @extend .bg-light;
}

.tippy-tooltip {
  padding: 0 !important;
}
